/* In your App.css */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; /* Needed for z-indexing of children */
}

.content {
  flex-grow: 1;
  padding: 20px;
  position: relative; /* Ensure content is above the background overlay */
  z-index: 1;
}

.header,
.footer {
  position: relative;
  z-index: 2;
}
